[submodule "gir"]
	path = gir
	url = https://github.com/gtk-rs/gir
	update = none
[submodule "gir-files"]
	path = gir-files
	url = https://github.com/gtk-rs/gir-files
	update = none
[submodule "phosh"]
	path = phosh
	url = https://gitlab.gnome.org/samcday/phosh.git
