name: alpine-apk

on:
  push:
    branches: [main]
    paths:
      - 'APKBUILD'
      - '.github/workflows/alpine.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v4
      - uses: jirutka/setup-alpine@v1
        id: alpine
        with:
          arch: ${{ matrix.arch }}
          branch: edge
          packages: alpine-sdk
      - name: setup
        env:
          RSA_PRIV: ${{ secrets.RSA_PRIVATE_KEY }}
          RSA_PUB: ${{ secrets.RSA_PUBLIC_KEY }}
        run: |
          mkdir -p ~/.abuild ~/package
          echo "$RSA_PRIV" > ~/.abuild/key.rsa
          echo "$RSA_PUB" > ~/.abuild/key.rsa.pub
          cp ~/.abuild/key.rsa.pub /etc/apk/keys/key.rsa.pub
          abuild -F deps
        shell: alpine.sh --root {0}
      - name: build package
        run: |
          export PACKAGER_PRIVKEY=$HOME/.abuild/key.rsa
          abuild -F -P /packages
          chmod -R 777 /packages
        shell: alpine.sh --root {0}
      - uses: actions/upload-artifact@v4
        with:
          name: packages-${{ matrix.arch }}
          path: ${{ steps.alpine.outputs.root-path }}/packages/
