name: Create release from tag
on:
  push:
    tags: ['*']
permissions:
  contents: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: prerelease
        run: |
          if [[ "${GITHUB_REF_NAME}" =~ _rc[0-9]+$ ]]; then
            echo "prerelease=true" >> "$GITHUB_OUTPUT"
          else
            echo "prerelease=false" >> "$GITHUB_OUTPUT"
          fi
      - run: |
          cat > body.md <<HERE
          <img align="right" width="180" height="360" src="https://github.com/samcday/phrog/releases/download/${GITHUB_REF_NAME}/demo.webp">
          HERE
      - name: Build release archive
        run: |
          set -euo pipefail
          rustup toolchain install stable --profile minimal
          rustup default stable
          cargo build --release

          mkdir -p dist/
          tar -C target/release -czf "dist/phrog-x86_64-unknown-linux-gnu.tar.gz" phrog
      - uses: softprops/action-gh-release@v2
        with:
          body_path: body.md
          generate_release_notes: true
          prerelease: ${{ steps.prerelease.outputs.prerelease }}
          files: |
            dist/phrog-x86_64-unknown-linux-gnu.tar.gz
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}

  publish-crate:
    runs-on: ubuntu-latest
    needs: release
    if: ${{ !contains(github.ref_name, '_rc') }}
    steps:
      - uses: actions/checkout@v4
      - name: Publish phrog to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          set -euo pipefail
          cargo publish --locked --no-verify
